# DataTypes

1. Definition
   - Data types are a classification of data which tell the computer or interpreter how the programmer intends to use the data.
   - They determine the type of operations of that can be preformed on the data the values that the data can take and the amount of memory needed to store tha data.

2. Importance od Data Types in Programming

Explanation:
    data types ensures that data is stored in an efficient way.
    They help in preforming correct operations on data.
    Proper use of data types can prevent errors and bugs in the program.

## Video Outline:

    1. Introduction to data types
    2. importance of data type in programming
    3. basic Data Types 
        ~ Integer
        ~ Floating-point numbers
        ~ String
        ~ Booleans
    4. Advanced Data Types
        ~ List
        ~ Tuples
        ~ Sets
        ~ Dictionaries
    5. Type Conversion
    6. Practical Example

In [2]:
## integers

age = 25
type(age)  # This will print <class 'int'>

int

In [3]:
## floating point datatype

height = 5.9
type(height)  # This will print <class 'float'>

float

In [4]:
## string datatype

name = "John"
type(name)  # This will print <class 'str'>

str

In [5]:
## boolean datatype

is_student = True
type(is_student)  # This will print <class 'bool'>

bool

In [7]:
## common error

result = "5" + 10

TypeError: can only concatenate str (not "int") to str

In [9]:
result = "5" + str(10)

print(result)  # This will print "510"

510

In [10]:
string_var = "Hello, World!"
type(string_var)  # This will print <class 'str'>

str